
@{
    ViewData["Title"] = "CreateOrder";
}

<h2>Created Order</h2>

<ul>

    <li>
        Order Id: @ViewBag.Data.Id
    </li>

    <li>
        Product Id: @ViewBag.Data.ProductId
    </li>
    <li>
        Description: @ViewBag.Data.Description
    </li>
    <li>
        Created At: @ViewBag.Data.CreatedAt
    </li>
  
</ul>