@model OrderModel

@{
    ViewData["Title"] = "GetOrdersByProductId";


}

<script>
    function orderClosed() {

        document.getElementById("button").style.display = "none";
    }
</script>

<h2>Orders By Product Id</h2>




<ul>
    <li style="margin:20px">
        Id: @ViewBag.Data.Id
        ProductId: @ViewBag.Data.ProductId
        Created On:@ViewBag.Data.CreatedAt

        @using (Html.BeginForm("CloseOrder", "Home", FormMethod.Post))
        {
            <input hidden value="@ViewBag.Data.Id" name="id" />
            <input hidden value="@ViewBag.Data.CreatedAt" name="createdAt" />

            @if (ViewBag.Data.ClosedAt == null)
            {
                <button onclick="orderClosed()" class="btn btn-danger btn-xs" id="button" type="submit"> Process Order</button>
            }
        }




    </li>
</ul>
